In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
path = 'C:\\Users\\iodaa\\Documents\\one\\Data\\'

df = pd.read_csv(path+"heart.csv", encoding='cp1251')

Эта база данных содержит 76 атрибутов, но все опубликованные эксперименты относятся к подмножеству из 14 из них. В частности, база данных Кливленда - единственная, которая до сих пор использовалась исследователями

Содержание

Информация об атрибутах:

1.age - возраст

2.sex - пол

3.cp - тип боли в груди (4 значения)

4.trestbps - артериальное давление в покое

5.chol - холесторал сыворотки в мг / дл

6.fbs - уровень сахара в крови натощак> 120 мг / дл

7.restecg - результаты электрокардиографии в покое (значения 0,1,2)

8.thalach - достигнутая максимальная частота сердечных сокращений

9.exang - стенокардия, вызванная физической нагрузкой

10.oldpeak - депрессия ST, вызванная упражнениями по сравнению с отдыхом

11.slope - наклон сегмента ST при пиковой нагрузке

12.ca - количество крупных сосудов (0-3), окрашенных флурозопией

13.thal - 3 = нормальный; 6 = исправленный дефект; 7 = обратимый дефект

14.target - наличие у пациента сердечного заболевания. Это целое число от 0 (отсутствие присутствия) до 4

In [4]:
df.head(10)

,п»їage,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [111]:
df

,Gross domestic product and gross domestic product per capita,Unnamed: 2,Unnamed: 3,Unnamed: 4,GDP in current prices (millions of US dollars),GDP per capita (US dollars),GDP in constant 2010 prices (millions of US dollars),GDP real rates of growth (percent)
837,Afghanistan,1985,GDP in current prices (millions of US dollars),3321.9000,3321.9000,NaN,NaN,NaN
838,Afghanistan,1995,GDP in current prices (millions of US dollars),3236.3000,3236.3000,NaN,NaN,NaN
839,Afghanistan,2005,GDP in current prices (millions of US dollars),6621.8338,6621.8338,NaN,NaN,NaN
840,Afghanistan,2010,GDP in current prices (millions of US dollars),16077.9210,16077.9210,NaN,NaN,NaN
841,Afghanistan,2015,GDP in current prices (millions of US dollars),20608.0907,20608.0907,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6640,Zimbabwe,2005,GDP real rates of growth (percent),-4.0631,NaN,NaN,NaN,-4.0631
6641,Zimbabwe,2010,GDP real rates of growth (percent),19.6753,NaN,NaN,NaN,19.6753
6642,Zimbabwe,2015,GDP real rates of growth (percent),1.7799,NaN,NaN,NaN,1.7799
6643,Zimbabwe,2017,GDP real rates of growth (percent),4.7040,NaN,NaN,NaN,4.7040
6644,Zimbabwe,2018,GDP real rates of growth (percent),4.8297,NaN,NaN,NaN,4.8297

In [101]:
df.loc[(df["Unnamed: 3"] == "GDP in current prices (millions of US dollars)"), "GDP in current prices (millions of US dollars)"] = df["Unnamed: 4"]

,Gross domestic product and gross domestic product per capita,Unnamed: 2,Unnamed: 3,Unnamed: 4,GDP in current prices (millions of US dollars)
837,Afghanistan,1985,GDP in current prices (millions of US dollars),3321.9000,3321.9000
838,Afghanistan,1995,GDP in current prices (millions of US dollars),3236.3000,3236.3000
839,Afghanistan,2005,GDP in current prices (millions of US dollars),6621.8338,6621.8338
840,Afghanistan,2010,GDP in current prices (millions of US dollars),16077.9210,16077.9210
841,Afghanistan,2015,GDP in current prices (millions of US dollars),20608.0907,20608.0907
...,...,...,...,...,...
6640,Zimbabwe,2005,GDP real rates of growth (percent),-4.0631,NaN
6641,Zimbabwe,2010,GDP real rates of growth (percent),19.6753,NaN
6642,Zimbabwe,2015,GDP real rates of growth (percent),1.7799,NaN
6643,Zimbabwe,2017,GDP real rates of growth (percent),4.7040,NaN
6644,Zimbabwe,2018,GDP real rates of growth (percent),4.8297,NaN